node_modules/
dist/
build/
.next/
.turbo/
coverage/
*.log
.DS_Store
.env
.env.local
.env.*.local
!.env.example
.vscode/
.idea/
*.tsbuildinfo
prisma/*.db
prisma/*.db-journal
.cache/
.pnpm-store/
*:Zone.Identifier
apps/api/prisma/prisma/
